#About {
  /* background: linear-gradient(135deg, #151126 0%, #0d1224 50%, #0d1224 100%); */
  background-color: black;
  background-size: 300% 300%;
  animation: moveGradient 12s ease infinite;
}
.About_Container {
  padding-top: 80px;
  width: 90%;
  min-height: 400px;
  margin-left: 5%;
}
.About_Left_Container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.About_Left_txt1 {
  color: #16f2b3;
  font-size: 25px;
  font-weight: 500;
}
.About_Left_txt2 {
  color: #ffffff;
  font-size: 19.5px;
}
.About_Container_Rotate {
  display: flex;
  flex-direction: row;
}
.About_Right_Container {
  /* border: 2px solid white; */
  min-height: 400px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
.About_Right_img {
  width: 100%;
  height: 400px;
  /* border: 2px solid rgb(20, 182, 114); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.About_Right_img_cont {
  width: 250px;
  height: 250px;
  background-color: red;
}

.About_Right_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  position: relative;
}

.About_Right_box {
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: #1a1740;
  padding: 25px 10px;
  border-radius: 8px;
  /* border: 2px solid #262b54; */
  text-transform: uppercase;
  letter-spacing: 2px;
  /* box-shadow: 0 0 10px rgba(22, 242, 179, 0.5); */
}
.line_about {
  height: 50px;
  border: 1px solid #1a1740;
}


@media (max-width: 991px) {
  .About_Container_Rotate {
    flex-direction: column-reverse;
    gap: 40px;
  }


  .About_Right_box {
    writing-mode: vertical-rl;
    transform: rotate(270deg);
    height: 170px;
    /* font-size: 1px; */
  }
  .About_Right_title {
    width: 100%;
    height: 70px;
    flex-direction: row-reverse;
  }
  .About_Right_img {
    width: 100%;
    height: 240px;
  }
  .line_about {
    width: 140px;
    height: 1px;
    /* flex-direction: row-reverse; */
    border: 1px solid #1a1740;
  }
  .About_Left_txt1 {
    color: #16f2b3;
    font-size: 23px;
    font-weight: 500;
  }
  .About_Left_txt2 {
    color: #ffffff;
    font-size: 16px;
  }
}
