#Contact {
  background-color: #0d1224;
  width: 100%;
  min-height: 100vh;
  /* padding: 0px 60px 0px 60px; */
}
.Contact_container {
  width: 90%;
  min-height: 400px;
  margin-left: 5%;
}
.Contact_left {
  /* border: 1px solid white; */
  min-height: 400px;
}
.Contact_Right_title {
  width: 100%;
  height: 400px;
  /* border: 2px solid white; */
}
.Contact_Right_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  position: relative;
}

.Contact_Right_box {
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: #1a1740;
  padding: 25px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.line_about {
  height: 50px;
  border: 1px solid #1a1740;
}
.Contact_Container_Rotate {
  display: flex;
  flex-direction: row;
  /* padding-right: -80px; */
}
.Contact_Form_container,
.Contact_Address {
  /* border: 2px solid white; */
  min-height: 600px;
}
.Form_txt1 {
  text-transform: uppercase;
  color: #16f2b3;
  font-size: 20px;
  font-weight: 500;
}
.Form_box {
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  min-height: 400px;
  padding: 30px;
  margin-top: 30px;
  color: white;
}
.Contact_Label {
  font-size: 18px;
}
.input_group {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
}
.Contact_Form_input {
  margin-top: 5px;
  height: 45px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #10172d;
  border: 1px solid gray;
  /* border: 2px solid red; */
}
.bigInput {
  width: 100%;
  height: 100px; /* adjust height */
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
  font-size: 16px;
  background-color: #10172d;
}
button {
  background: linear-gradient(
    90deg,
    rgb(233, 30, 140) 0%,
    rgb(139, 63, 221) 100%
  );
  padding: 14px 40px;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.Contact_btn {
  margin-top: 17px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.sendBtn {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.mail_icon {
  font-size: 21px;
}

.Contact_Address_Circle {
  width: 40px;
  height: 40px;
  background-color: #8b98a5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 100;
  color: #1e2939;
}
.Contact_Address {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 70px;
}
.Contact_Address_box {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Contact_Address_box a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.Contact_Address_Mail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Contact_Social_Icons {
  display: flex;
  gap: 20px;
}
.Contact_iconss {
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: #8b98a5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e2939;
}
@media (max-width: 1124px) {
  .Contact_Address_box a {
    font-size: 20px;
  }
  .Contact_Address_Circle {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
  .Contact_Address,
  .Contact_Form_container {
    min-height: 300px;
    padding-bottom: 50px;
  }
}
@media (max-width: 991px) {
  .Contact_Container_Rotate {
    display: flex;
    flex-direction: column-reverse;
    /* padding-right: -80px; */
  }
  .Contact_Right_box {
    writing-mode: vertical-rl;
    transform: rotate(270deg);
    min-height: 200px;
    /* font-size: 1px; */
  }
  .Contact_Right_title {
    width: 100%;
    height: 70px;
    flex-direction: row-reverse;
  }
  .line_about {
    width: 140px;
    height: 1px;
    /* flex-direction: row-reverse; */
    border: 1px solid #1a1740;
  }
  .Form_txt1 {
    display: none;
  }
  .Contact_left {
    min-height: 10px;
    /* padding-top: 30px; */
    margin-top: 50px;
  }
  .Contact_Address{
    padding-left: 0px;
  }
}
@media (max-width: 375px) {
  .Contact_left {
    min-height: 0px;
    margin-top: 100px;
  }
}

@media (max-width: 400px) {
  .Contact_Address_box a {
    font-size: 15px;
  }
  .Contact_Address_Circle {
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
  .Contact_Social_Icons {
    display: flex;
    gap: 12px;
  }
  .Contact_iconss {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }
  .Contact_Address{
    gap: 50px;
  }
}
