#Projects {
  min-height: 100vh;
  padding-top: 40px;
}
.Project_Whole {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
.Project_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Project_Card {
  border: 2px solid #312c85;

  background-color: #121B35;
  border-radius: 10px;
  min-height: 440px;
  margin-top: 30px;
  width: 56%;
}
.Project_Card_Top {
  height: 70px;
  border-bottom: 2px solid #312c85;
  display: flex;
  padding-left: 30px;
  padding-right: 100px;
}
.Project_Card_Top_clr {
  width: 15%;
  height: 100%;
  /* border: 1px solid rgb(139, 137, 137); */
  display: flex;
  align-items: center;
  gap: 10px;
}
.Project_Card_Crcl1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffbd44;
}
.Project_Card_Crcl2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00ca4e;
}
.Project_Card_Crcl3 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff605c;
}

.Project_Card_Top_Title {
  width: 85%;
  height: 100%;
  color: #16f2b3;
  font-size: 23px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Project_Card_Content {
  /* border: 1px solid red;  */
  width: 100%;
}
.Project_Card_Content_R1 {
  /* border: 1px solid yellow; */
  margin: 30px;
  font-size: 17.5px;
  color: white;
  font-family: monospace;
}
.Project_Card_Content_R2 {
  /* border: 1px solid yellow; */
  margin-left: 30px;
  font-size: 17.5px;
  color: white;
  font-family: monospace;
  line-height: 27px;
}
.Project_Header {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 20px;
}
.line_Project {
  width: 100px;
  height: 1px;
  border: 1px solid #2C2254;
}
.Project_Right_box {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: #1a1740;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(25, 21, 21);
}
.c1{
    position: sticky;
    top: 90px;
}
.c2{
    position: sticky;
    top: 150px;
}
.c3{
    position: sticky;
    top: 210px;
}
.c4{
    position: sticky;
    top: 150px;
}
.c5{
    position: sticky;
    top: 200px;
}

@media (max-width: 991px) {
  .Project_Card{
    width: 100%;
  }

.Project_Card_Crcl1 {
  width: 10px;
  height: 10px;
}
.Project_Card_Crcl2 {
  width: 10px;
  height: 10px;
}
.Project_Card_Crcl3 {
  width: 10px;
  height: 10px;
}
.Project_Card_Top_Title {
  color: #16f2b3;
  font-size: 20px;
  font-weight: 600;
}
.Project_Card_Content_R1 {
  font-size: 15px;
}
.Project_Card_Content_R2 {
  font-size: 15px;
}
.c1{
    position: sticky;
    top: 70px;
}
.c2{
    position: sticky;
    top: 130px;
}
.c3{
    position: sticky;
    top: 130px;
}
.c4{
    position: sticky;
    top: 130px;
}
.c5{
    position: sticky;
    top: 130px;
}
.Project_Header {

  top: 10px;
}
}